{% extends 'projects/base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block title %}
{{ job.title }} | Oliver Web Development
{% endblock %}

{% block content %}
{% include 'partials/_navbar.html' %}

<section class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-8">
                <main class="p-4 bg-white shadow-sm rounded">
                    <img src="{{ job.image.url }}" alt="{{ job.title }} screenshot" class="img-fluid mb-4 rounded shadow-sm">
                    <h1 class="mb-0">{{ job.title }}</h1>
                        <div class="mb-2">
                            <small>Completed <time datetime="{{ job.completed_date }}">{{ job.completed_date|date:"M j, Y" }}</time></small>
                        </div>
                    <hr>
                    {% autoescape off %}
                    <p>{{ job.body|linebreaks }}</p>
                    {% endautoescape %}
                    {% if review %}
                        <h2 class="mb-3">Testimonial</h2>
                        <blockquote class="blockquote">
                            <p class="mb-0">"{{ review.review_body }}"</p>
                            <footer class="blockquote-footer"><cite class="{{ job.reviewer }}">{{ review.reviewer_name|title }}</cite></footer>
                        </blockquote>
                    {% endif %}
                    <p class="mt-4">
                        <strong>Technologies:</strong>
                        {% for tag in job.tags.all %}
                        <span class="badge badge-pill">{{ tag }}</span>
                        {% endfor %}
                    </p>
                    <div class="d-flex mt-4">
                        {% if job.site_url %}
                        <a href="{{ job.site_url }}" class="btn btn-primary mr-2">Live Site</a>
                        {% elif job.code_url%}
                        <a href="{{ job.code_url }}" class="btn btn-primary mr-2">Code</a>
                        {% endif %}
                    </div>

                </main>
            </div>
            <div class="col-lg-4">
                <aside class="bg-white shadow-sm p-4 rounded" id="similar-projects">
                    <h2 class="h3">Similar Projects</h2>
                    <hr>
                    {% for job in similar_jobs %}
                    <a href="{{ job.get_absolute_url }}" class="text-body job-link mb-3" aria-labelledby="{{ job.slug }}">
                        <article id="{{ job.slug }}">
                            <div class="card-body">
                                <h2 class="card-title h5">
                                    {{ job.title }}
                                </h2>
                                <p class="card-text">
                                    {{ job.summary|truncatewords:20 }}
                                </p>
                            </div>
                        </article>
                    </a>
                    {% endfor %}
                </aside>
            </div>
        </div>
    </div>
</section>


{% include 'partials/_footer.html' %}
{% endblock %}