{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
    
        main {
            flex: 1;
        }
    </style>
{% endblock %}

{% block title %}
    Dashboard | Oliver Web Development
{% endblock %}

{% block content %}
{% include 'partials/_secondary-navbar.html' %}

<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="display-4 mt-4">Dashboard</h1>
                <hr>
                <p>Welcome to your Dashboard</p>
            </div>
        </div>
    </div>
</main>

{% include 'partials/_secondary-footer.html' %}
{% endblock %}