{% load job_tags static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'projects:project-list' %}">
      <img src="{% static 'imgs/logo.svg' %}" alt="Oliver Web Development">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-4 mr-md-2">
          <a class="nav-link text-white link" href="{% url 'portfolio:portfolio-list' %}">Portfolio</a>
        </li>
        <li class="nav-item mr-4 mr-md-2">
          <a class="nav-link text-white link" href="{% anchor 'projects:project-list' 'whyme' %}">About</a>
        </li>
        <li class="nav-item mr-4 mr-md-2">
          <a class="nav-link text-white link" href="{% anchor 'projects:project-list' 'contact' %}">Say Hello</a>
        </li>
        {% comment "Temporally Removing Blog" %}
          <li class="nav-item mr-4 mr-md-2">
            <a class="nav-link text-off-white text-white link" href="{% url 'blog:blog-list' %}">Blog</a>
          </li>
        {% endcomment %}
        {% if user.is_authenticated %}
        <li class="nav-item mr-4 mr-md-2">
          <a class="nav-link text-off-white link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item mr-4 mr-md-2">
          <a class="nav-link text-off-white link" href="{% url 'account_logout' %}">Sign Out</a>
        </li>
        {% else %}
        <li class="nav-item mr-4 mr-md-2">
          <a class="nav-link text-off-white link" href="{% url 'account_login' %}">Sign In</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link btn btn-outline-primary text-white px-3" href="{% url 'projects:hire-me' %}">Hire Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>