{% load job_tags %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'jobs:job-list' %}">Oliver Web Development</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mr-4">
              <a class="nav-link text-white link" href="{% url 'portfolio:portfolio-list' %}">Portfolio</a>
            </li>
            <li class="nav-item mr-4">
              <a class="nav-link text-white link" href="{{ urls.about_url|specialChars }}">About</a>
            </li>
            <li class="nav-item mr-4">
              <a class="nav-link text-white link" href="{{ urls.contact_url|specialChars }}">Say Hello</a>
            </li>
            <li class="nav-item mr-4">
              <a class="nav-link text-off-white text-white link" href="{% url 'blog:blog-list' %}">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn btn-outline-primary text-white px-3" href="{% url 'jobs:hire-me' %}">Hire Me</a>
            </li>
          </ul>
        </div>
    </div>
</nav>