{% load job_tags %}
<footer class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <nav>
                    <ul class="nav justify-content-center">
                        <li class="nav-item"><a href="{{ urls.portfolio_url|specialChars }}" class="nav-link text-muted">Portfolio</a></li>
                        <li class="nav-item"><a href="{{ urls.about_url|specialChars }}" class="nav-link text-muted">About</a></li>
                        <li class="nav-item"><a href="{{ urls.contact_url|specialChars }}" class="nav-link text-muted">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>