.icon-container {
    height: 20px;
    width: 20px;
    margin-top: -5px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
}

main {
    flex: 1;
}

.img-fluid {
    object-fit: cover;
}

.job-link {
    display: block;
    background-color: whitesmoke;
}

.job-link:hover {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    text-decoration: none;
}