/*************************************** 
             HERO SECTION
****************************************/
#header {
    height: 100vh;
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80');
    /* TRYING OUT DIFFERENT HERO SECTION BACKGROUNDS
    background: linear-gradient(-45deg, rgba(138, 214, 204, 0.8), rgb(138, 214, 204, 0.8)),
                url('https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80'); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.highlight {
    color: #8ad6cc;
}

.lead {
    font-size: 3.5rem;
    text-shadow: 2px 2px 2px #333;
}

.sub-title {
    font-size: 1.75rem;
    line-height: 1.5;
    color: rgb(248, 248, 248);
    border-left: solid 5px #f77171;
    padding-left: 1.5rem;
    margin-left: 0.5rem;
}

.fa-long-arrow-right {
    transition: transform 0.2s ease-in;
}

.btn-primary:hover .fa-long-arrow-right {
    transform: rotate(90deg);
}

.icon {
    display: inline-block;
    width: 100px;
}
/*************************************** 
            END HERO SECTION
****************************************/

/*************************************** 
   MY SKILLS AND SPECIALIZATION SECTION
****************************************/
#skills {
    margin-top: 5rem;
}

#skills .tech-title {
    font-size: 2rem;
}

#specialization h5 {
    font-size: 2.5rem;
}

#specialization .col-sm-12 {
    display: flex;
    align-items: stretch;
}

#specialization .card {
    border-bottom-right-radius: 30px;
}

.color-line {
    position: absolute;
    top: 0;
    right: 0;
    height: 5px;
    width: 65%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.first {
    background-color: #8ad6cc;
}

.second {
    background-color: #E63946;
}

.third {
    background-color: #457B9D;
}
/*************************************** 
    END MY SKILLS AND SPECIALIZATION
****************************************/

/*************************************** 
            PORTFOLIO SECTION
****************************************/
#portfolio {
    background: whitesmoke;
}

.card-link {
    color: #ffa375;
}

.img-wrapper {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 35px;
    overflow: hidden;
}

.img-wrapper img {
    object-fit: cover;
}

.badge {
    background-color: #F0F0F0;
    color: black;
    font-weight: 400;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-cta {
    width: max-content;
}

.card-text {
    flex: 1;
}

.card-title {
    font-weight: bold;
}

.custom-card {
    border-bottom-right-radius: 30px;
}
/*************************************** 
            END PORTFOLIO
****************************************/

/*************************************** 
                 WHY ME
****************************************/
.list-group-item {
    border: 1px solid rgba(0,0,0,.125) !important;
    border-radius: 4px !important;
}

.outer > li {
    list-style: none;
}

.inner {
    width: 30px;
    height: 30px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    background: linear-gradient(45deg,rgb(230, 57, 70), #ffa375);
    position: absolute;
    top: -1rem;
    left: -1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*************************************** 
            END WHY ME 
****************************************/

/*************************************** 
            CONTACT SECTION
****************************************/
#contact .col-sm-12 {
    border-bottom-right-radius: 65px;
    padding: 5rem 3rem;
    background-color: #385a7b;
}
/*************************************** 
           END CONTACT SECTION 
****************************************/

/*************************************** 
           MOBILE DEVICE STYLES 
****************************************/
@media(max-width: 500px ) {
    #contact .col-sm-12 {
        flex-direction: column;
    }

    .email {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .card-container .card:not(:first-child) {
        margin-top: 1rem;
    }

    #specialization .col-sm-12:not(:first-child) {
        margin-top: 1rem;
    }

    #skills {
        margin-top: 3.5rem;
    }

    .lead {
        font-size: 2rem;
        text-align: center;
    }

    .sub-title {
        font-size: 1.5rem;
    }

    #header .btn {
        align-self: center !important;
    }

    .specializing {
        font-size: 2.6rem;
    }

    .specializing-text {
        text-align: center;
    }
}
/*************************************** 
            END MOBILE 
****************************************/

/*************************************** 
            TABLET STYLES 
****************************************/

@media(max-width: 768px ) {
    #specialization h5 {
        font-size: 1.6rem;
    }
}
/*************************************** 
            END TABLET 
****************************************/
