.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    background-color: #f77171;
    border-color: #f77171;
}

body {
    background: whitesmoke;
}

article {
    background: white;
}

.blog-link:hover {
    text-decoration: none;
}

body {
    font-family: 'Nunito', sans-serif;
}