/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 15 version
*/

/*************************************** 
             PAGE DEFAULTS
****************************************/
body {
    background: whitesmoke;
}

code {
    background-color: #011627 !important;
    color: #7fdbca !important;
}
/*************************************** 
            END PAGE DEFAULTS
****************************************/

/*************************************** 
            PROFILE CARD
****************************************/
.circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}
/*************************************** 
            END PROFILE CARD
****************************************/

/*************************************** 
            SIMILAR PROJECTS
****************************************/
.post-link {
    display: inline-block;
    background-color: whitesmoke;
}

.post-link:hover {
    -webkit-box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
            box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    text-decoration: none;
}

.read-more:hover,
.text-body:hover {
    text-decoration: none;
}

.read-more {
    color: var(--primary-color, #f77171);
}

.read-more:hover {
    color: var(--primary-color, #f77171);
}

#similar-projects .card-title {
    font-weight: bold;
}
/*************************************** 
           END SIMILAR PROJECTS
****************************************/