{% extends 'blog/base.html' %}

{% load static social_share comments crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog_detail.css' %}">
<link rel="stylesheet" href="{% static 'highlight/night-owl.css' %}">
{% endblock %}

{% block head %}
<meta name="description" content="{{ post.summary|truncatewords:30 }}">
{% endblock %}

{% block title %}
{{ post.title }} | Oliver Web Development
{% endblock %}

{% block content %}
<header>
    {% include 'partials/_secondary-navbar.html' with urls=urls %}
</header>
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            <main class="bg-white p-4 shadow-sm rounded main-content">
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="" class="img-fluid mb-4 rounded">
                {% endif %}
                <h1 class="mb-2 main-title">{{ post.title }}</h1>
                {% get_comment_count for post as comment_count %}
                <div class="d-flex flex-wrap mb-4">
                    <p class="mb-0 mr-3 d-flex align-items-center">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                        </svg>
                        <span>{{ post.author.profile.display_name|title }}</span>
                    </p>
                    <p class="mb-0 mr-3 d-flex align-items-center">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-day mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            <path d="M4.684 11.523v-2.3h2.261v-.61H4.684V6.801h2.464v-.61H4v5.332h.684zm3.296 0h.676V8.98c0-.554.227-1.007.953-1.007.125 0 .258.004.329.015v-.613a1.806 1.806 0 0 0-.254-.02c-.582 0-.891.32-1.012.567h-.02v-.504H7.98v4.105zm2.805-5.093c0 .238.192.425.43.425a.428.428 0 1 0 0-.855.426.426 0 0 0-.43.43zm.094 5.093h.672V7.418h-.672v4.105z" />
                        </svg>
                        <span>
                            {{ post.publish|date:"F j, Y" }}
                        </span>
                    </p>
                    <p class="m-0 d-flex align-items-center">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-fill mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z" />
                        </svg>
                        <span>
                            {{ comment_count }} comment{{ comment_count|pluralize }}
                        </span>
                    </p>
                </div>
                {{ post.body.html|safe }}
                <hr>
                <div class="social-wrapper d-flex flex-wrap">
                    {% post_to_facebook post "Post to Facebook!" %}
                    {% post_to_twitter "{{ post.title }}. Check it out!" post "Post to Twitter" %}
                </div>
            </main>
        </div>
        <div class="col-sm-12 col-lg-4 align-self-start">
            <div class="bg-white p-4 shadow-sm rounded mt-4 mt-lg-0">
                <aside>
                    <div class="author-img circle mx-auto">
                        {% if post.author.profile.profile_image_thumbnail %}
                        <img src="{{ post.author.profile.profile_image_thumbnail.url }}" alt="profile image" class="img-fluid ">
                        {% endif %}
                    </div>
                    <h5 class="text-center mt-3">{{ post.author.profile.display_name }}</h5>
                    <p>
                        {{ post.author.profile.bio|safe }}
                    </p>
                </aside>
            </div>
            <div class="bg-white p-4 mt-4 shadow-sm rounded">
                <aside>
                    <h2 class="h3">Similar Posts</h2>
                    <hr>
                    {% for post in similar_posts %}

                    <a href="{{ post.get_absolute_url }}" class="text-body mb-3" aria-labelledby="{{ job.slug }}">
                        <article id="{{ post.slug }} similar-projects">
                            <div class="card-body post-link">
                                <h2 class="card-title h4">
                                    {{ post.title|title }}
                                </h2>
                                <div>
                                    <span class="mr-2">{{ post.author.profile.display_name|title }}</span>
                                    <span>{{ post.publish|date:"F j, Y" }}</span>
                                </div>
                                <p>
                                    {{ post.summary|linebreaks|truncatewords:20 }}
                                    <a class="read-more" href="{{ post.get_absolute_url }}">Read Article</a>
                                </p>
                            </div>
                        </article>
                    </a>
                    {% endfor %}
                </aside>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="bg-white p-lg-4 shadow-sm rounded">
                <h3 class="px-4 pt-4 p-lg-0">Comments</h3>
                <hr>
                {% render_comment_list for post %}

                <div class="card card-block mb-5">
                    <div class="card-body">
                        <h4 class="card-title text-center pb-3">Post your comment</h4>
                        {% render_comment_form for post %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'partials/_footer.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'highlight/highlight.pack.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre').forEach((block) => {
            hljs.highlightBlock(block);
        });

        document.querySelectorAll('blockquote').forEach(quote => {
            quote.classList.add('blockquote');
        });
    });
</script>
{% endblock %}