{% extends 'blog/base.html' %}

{% load static %}
{% load comments %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog_detail.css' %}">
<link rel="stylesheet" href="{% static 'highlight/night-owl.css' %}">
{% endblock %}

{% block head %}
<meta name="description" content="{{ post.summary|truncatewords:30 }}">
{% endblock %}

{% block title %}
<title>{{ post.title }} | Oliver Web Development</title>
{% endblock %}

{% block content %}
<header>
    {% include 'partials/_secondary-navbar.html' with urls=urls %}
</header>
<div class="container mt-4">
    <div class="row">
        <div class="col-sm-12 col-lg-8">
            <main class="bg-white p-4 shadow-sm rounded main-content">
                {% if post.image %}
                <img src="{{ post.image.url }}" alt="" class="img-fluid mb-4 rounded">
                {% endif %}
                <h1 class="mb-2">{{ post.title }}</h1>
                {% get_comment_count for post as comment_count %}
                <div class="d-flex mb-4">
                    <p class="mb-0 mr-2">
                        Published {{ post.publish|date:"F j, Y" }}
                    </p>
                    <p class="m-0">
                        {{ comment_count }} comment{{ comment_count|pluralize }}
                    </p>
                </div>

                {{ post.body.html|safe }}

            </main>
        </div>
        <div class="col-sm-12 col-lg-4 align-self-start">
            <div class="bg-white p-4 shadow-sm rounded mt-4 mt-lg-0">
                <aside>
                    <div class="author-img circle mx-auto">
                        {% if post.author.profile.profile_image_thumbnail %}
                        <img src="{{ post.author.profile.profile_image_thumbnail.url }}" alt="profile image" class="img-fluid ">
                        {% endif %}
                    </div>
                    <h5 class="text-center mt-3">{{ post.author.profile.display_name }}</h5>
                    <p>
                        {{ post.author.profile.bio }}
                    </p>
                </aside>
            </div>
            <div class="bg-white p-4 mt-4 shadow-sm rounded">
                <aside>
                    <h2 class="h3">Similar Posts</h2>
                    <hr>
                    {% for post in similar_posts %}

                    <a href="{{ post.get_absolute_url }}" class="text-body mb-3" aria-labelledby="{{ job.slug }}">
                        <article id="{{ post.slug }} similar-projects">
                            <div class="card-body post-link">
                                <h2 class="card-title h4">
                                    {{ post.title|title }}
                                </h2>
                                <div>
                                    <span class="mr-2">{{ post.author.profile.display_name|title }}</span>
                                    <span>{{ post.publish|date:"F j, Y" }}</span>
                                </div>
                                <p>
                                    {{ post.summary|linebreaks|truncatewords:20 }}
                                    <a class="read-more" href="{{ post.get_absolute_url }}">Read Article</a>
                                </p>
                            </div>
                        </article>
                    </a>
                    {% endfor %}
                </aside>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-12">
            <div class="bg-white p-lg-4 shadow-sm rounded">
                <h3 class="px-4 pt-4 p-lg-0">Comments</h3>
                <hr>
                {% render_comment_list for post %}

                <div class="card card-block mb-5">
                    <div class="card-body">
                        <h4 class="card-title text-center pb-3">Post your comment</h4>
                        {% render_comment_form for post %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'partials/_footer.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'highlight/highlight.pack.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre').forEach((block) => {
            hljs.highlightBlock(block);
        });

        document.querySelectorAll('blockquote').forEach(quote => {
            quote.classList.add('blockquote');
        });
    });
</script>
{% endblock %}