{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}{% endblock %}
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'imgs/favicon_PNG.png' %}" type="image/x-icon">
    {% compress css %}
        {% block styles %}{% endblock %}
    {% endcompress %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}


    {% compress js %}
        {% block scripts %}{% endblock %}
    {% endcompress %}
</body>
</html>