{% extends 'jobs/basic.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block head %}
<meta name="description" content="Specializing in building performant scalable and secure web application, I am a Full Stack developer who will bring your business to life online. Drop me a line about your project details to get started.">
{% endblock %}

{% block title %}
Oliver Web Development | Creating Robust Solutions for Small Businesses
{% endblock %}

{% block content %}
<header id="header">
    <nav class="main-nav">
        <div>
            <a href="#" class="main-nav__brand">Logo</a>
        </div>
        <div>
            <ul class="main-nav__list">
                <li class="main-nav__item"><a href="#" class="main-nav__link">Portfolio</a></li>
                <li class="main-nav__item"><a href="#" class="main-nav__link">About</a></li>
                <li class="main-nav__item"><a href="#" class="main-nav__link">Say Hello</a></li>
                <li class="main-nav__item"><a href="#" class="main-nav__link">Blog</a></li>
                <li class="main-nav__item"><a href="#" class="main-nav__link">Sign In</a></li>
                <li class="main-nav__item"><a href="#" class="main-nav__link main-nav__cta">Hire Me</a></li>
            </ul>
        </div>
    </nav>

    <div class="hero-section container">
        <div>
            <h1 class="hero-section__title">
                Looking to Grow Your Business Online?<br> 
                <div class="hero-section__subtitle">Oliver Web Development is committed to helping your business grow through our design, development, and marketing services.</div>
            </h1>
            <a href="#skills" class="btn hero-section__cta">
                See Services
                <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            </a>
        </div>
    </div>
</header>

<main>
    <h1>New Homepage</h1>
</main>

<footer>

</footer>
   
{% endblock %}